@charset "UTF-8";

.PHP1{
	color: #F07B0A;
	font-weight: 700;
}

.PHP2{
	font-size: 14px;
	font-family: ;
}

.RD_sentence_card{
	font-size: 12px;
	width: 100%;
	padding: 10px;
	margin: 5px;
}
